button{
    background-color: orange;
    border: none;
    border-radius:10px;
    padding-top: 5px;
    padding-bottom:10px;
    }
    h1{text-align: left;
    }
    h2{text-align: left;}




button{    
    background-color:blueviolet;
    border: none;
    border-radius:10px;
    padding-top: 5px;
    padding-bottom:10px;
    }
    h1{text-align:left;}
    h2{text-align: left;}
    
   
      








